.player-cell-inner {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.player-cell span:first-child {
  font-size: 1.1rem;
}

.player-cell span:last-child {
  font-size: 0.75rem;
}
